@use '../var';
@use '../mixins';

.childhood-page {
  height: 100svh;
}

.childhood-page__card-wrapper {
}

.childhood-page_background {
  background-image: url('../../img/childhood-page/texture-break-2.png'),
    url('../../img/childhood-page/arrow2.png'),
    url('../../img/childhood-page/bone.png'),
    url('../../img/childhood-page/flower.png');
  background-size:
    auto 100%,
    auto 37%,
    39% auto,
    auto 19.5%;
  background-position:
    bottom 0 right 0,
    top 5% right 19%,
    bottom 10% left 8%,
    bottom 12% right 45%;
  background-repeat: no-repeat;
}

.childhood-page__subtitle {
  padding-top: 14.3vh;
  padding-bottom: 1.25vh;
}

.childhood-page__content {
  width: 36%;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.25vh;
}

.childhood-page__about {
  justify-self: right;
}

.childhood-page__about_padding {
  padding-left: 20%;
}
.childhood-page__about_padding-md {
  padding-left: 38%;
}
.childhood-page__about_padding-lg {
  padding-left: 62%;
}

.childhood-page__card-wrapper {
}

.card_young-dog {
  position: absolute;
  top: 11.3%;
  right: 27%;
  transform: rotate(11deg);
}

.card_muffin-brother {
  position: absolute;
  top: 37%;
  right: 8%;
  transform: rotate(-13deg);
}
