@use '../var';
@use '../mixins';

.childhood-page {
  height: 64.64vw;
}

.childhood-page_background {
  background-image: url('../../img/childhood-page/texture-break-2.png'),
    url('../../img/childhood-page/arrow2.png'),
    url('../../img/childhood-page/bone.png'),
    url('../../img/childhood-page/flower.png');
  background-size:
    10% 100%,
    23.5% auto,
    39% auto,
    15.5% auto;
  background-position:
    bottom 0 right 0,
    top 5% right 19%,
    bottom 10% left 8%,
    bottom 12% right 45%;
  background-repeat: no-repeat;
}

.childhood-page__subtitle {
  display: inline-block;
  padding-bottom: 1.25vh;
}

.childhood-page__content {
  width: 38.5%;
  height: 39.5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.25vh;
}

.childhood-page__about {
  justify-self: right;
}

.childhood-page__card-wrapper {
}

.card_young-dog {
  position: absolute;
  top: 11.3%;
  right: 27%;
  transform: rotate(11deg);
}

.card_muffin-brother {
  position: absolute;
  top: 37%;
  right: 8%;
  transform: rotate(-13deg);
}
