@use '../var';

.one-day-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one-day-page__title-container {
  height: 109.3svw;

  .title-container__subtitle {
  }
  .title-container__text-content {
    color: var.$white;
    position: absolute;
    top: 27%;
    right: 5.5%;
    width: 23%;
  }
  .title-container__text-conclusion {
    color: var.$white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 1%;
  }
}

.one-day-page__title-container_background {
  background-color: var.$pink;
  background-image: url('../../img/one-day-page/title-container/coss.png'),
    url('../../img/one-day-page/title-container/question.png'),
    url('../../img/one-day-page/title-container/arrow-3.png'),
    url('../../img/one-day-page/title-container/bird.png'),
    url('../../img/one-day-page/title-container/treepic.png'),
    url('../../img/one-day-page/title-container/car-w-muffin.png'),
    url('../../img/one-day-page/title-container/tree-white.png'),
    url('../../img/one-day-page/title-container/house.png'),
    url('../../img/one-day-page/title-container/road-white.png'),
    url('../../img/one-day-page/title-container/spiral-circle.png');
  background-size:
    11.5% auto,
    6% auto,
    18% auto,
    24% auto,
    38% auto,
    67.5% auto,
    31% auto,
    58% auto,
    100% auto,
    66% auto;
  background-position:
    top 90% left 0,
    top 50.7% left 45%,
    top 47.5% left 61%,
    top 96% left 87%,
    top 70.4% right 0,
    top 75% left 18%,
    top 61% left 1%,
    top 10% left 16%,
    top 18% right 0,
    top -2% left -1%;
  background-repeat: no-repeat;
}

.one-day-page__scary-muffin-container {
  height: 156svw;
  .scary-muffin-container__first-text-container {
    margin-top: 23%;
  }
  .scary-muffin-container__second-text-container {
    margin-top: 17%;
    width: 47%;
  }
  .scary-muffin-container__third-text-container {
    width: 42%;
    align-items: end;
    margin-left: 48.3%;
    margin-top: 74.1%;
  }

  .scary-muffin-container__fourth-text {
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .card_my-first-day {
    position: absolute;
    bottom: 12%;
    left: 8%;
    transform: rotate(14.84deg);
  }
}

.one-day-page__scary-muffin-container_background {
  background-color: var.$white;
  background-image: url('../../img/one-day-page/scary-muffin-container/couch-pic.png'),
    url('../../img/one-day-page/scary-muffin-container/cloud-pic.png'),
    url('../../img/one-day-page/scary-muffin-container/cloud-pic.png'),
    url('../../img/one-day-page/scary-muffin-container/cloud-revert.png'),
    url('../../img/one-day-page/scary-muffin-container/shadow.png'),
    url('../../img/one-day-page/scary-muffin-container/muffin-scary-pic.png'),
    url('../../img/one-day-page/scary-muffin-container/questions.png'),
    url('../../img/one-day-page/scary-muffin-container/texture-break-3.png');
  background-size:
    79% auto,
    26.5% auto,
    42% auto,
    32% auto,
    100% auto,
    71% auto,
    100% auto,
    100% auto;
  background-position:
    top 45% left 48%,
    top 92% left -7%,
    top 75% left 23%,
    top 94% right 0,
    bottom 0 left 0,
    top 5% left 75%,
    top 25% left 0,
    top 0 left 0;
  background-repeat: no-repeat;
}

.one-day-page__curious-container {
  height: 116svw;
  .curious-container__header {
    width: 55.4%;
    margin-top: 15.7%;
  }
  .curious-container__subtitle {
    text-align: end;
  }
  .curious-container__first-text {
    position: absolute;
    top: 30.9%;
    left: 43.5%;
    width: 52%;
  }
  .curious-container__mini-cards {
    position: relative;
    margin-left: -6.2%;
    margin-top: 18%;
    width: 99svw;
    height: 36.1svw;
    .mini-card_tasty-food {
      position: absolute;
      background-color: var.$green;
      top: 14%;
      left: 7%;
    }
    .mini-card_toy {
      position: absolute;
      top: 38%;
      left: 29%;
    }
    .mini-card_free-space {
      position: absolute;
      background-color: var.$green;
      top: 10.5%;
      left: 51%;
    }
    .mini-card_care {
      position: absolute;
      top: 43%;
      left: 73%;
    }
  }
  .curious-container__mini-cards_background {
    background-image: url('../../img/one-day-page/curious-container/exclamation.png'),
      url('../../img/one-day-page/curious-container/exclamation.png'),
      url('../../img/one-day-page/curious-container/exclamation.png'),
      url('../../img/one-day-page/curious-container/exclamation.png'),
      url('../../img/one-day-page/curious-container/vector-road.svg');
    background-size:
      4svw auto,
      4svw auto,
      4svw auto,
      4svw auto,
      100% auto;
    background-position:
      top 5.5% left 76%,
      top 5.5% left 81.5%,
      top 5.5% left 87%,
      top 5.5% left 92.5%,
      top 0 left 0;
    background-repeat: no-repeat;
  }
  .curious-container__second-text {
    position: absolute;
    top: 80%;
    left: 5.8%;
    width: 63.5%;
  }
}

.one-day-page__curious-container_background {
  background-color: var.$pink;
  background-image:
    url('../../img/one-day-page/curious-container/break-5.png'),
    url('../../img/one-day-page/curious-container/break-6.png'),
    //url('../../img/one-day-page/curious-container/exclamation.png'),
    //url('../../img/one-day-page/curious-container/exclamation.png'),
    //url('../../img/one-day-page/curious-container/exclamation.png'),
    //url('../../img/one-day-page/curious-container/exclamation.png'),
    url('../../img/one-day-page/curious-container/half-flower.png');
  //url('../../img/one-day-page/curious-container/vector-road.svg');
  background-size:
    100% auto,
    100% auto,
    //4% auto,
    //4% auto,
    //4% auto,
    //4% auto,
    18% auto;
  //100% auto;
  background-position:
    top -12% left 0,
    bottom -1% left 0,
    //top 47.5% left 76%,
    //top 47.5% left 81.5%,
    //top 47.5% left 87%,
    //top 47.5% left 92.5%,
    top 23% left 0;
  //top 60% left 0;
  background-repeat: no-repeat;
}

.one-day-page__love-container {
  height: 147.2svw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .love-container__image {
    position: absolute;
    width: 100%;
  }
}

.one-day-page__love-container_background {
  background-color: var.$white;
  background-image: url('../../img/one-day-page/love-container/break-7.png');
  background-size: 100% auto;
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
}

.one-day-page__talent-container {
  height: 102svw;
  .talent-container__text {
    width: 53%;
    margin-top: -3%;
  }
  .talent-container__header {
    position: absolute;
    left: 51%;
    top: 32.5%;
  }
  .talent-container__image {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.one-day-page__talent-container_background {
  background-color: var.$purple;
  background-image: url('../../img/one-day-page/talent-container/heart-3.png'),
    url('../../img/one-day-page/talent-container/break-8.png');
  background-size:
    15.3% auto,
    7.6% auto;
  background-position:
    top 0 left 62%,
    bottom -2% right -1%;
  background-repeat: no-repeat;
}
