@use '../var';

.one-day-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
}

.one-day-page__title-container {
  height: 170svh;

  .title-container__subtitle {
    position: absolute;
    left: 5.7%;
    top: 8%;
  }
  .title-container__text-content {
    color: var.$white;
    position: absolute;
    top: 27%;
    right: 5.5%;
    width: 23%;
  }

  .title-container__text-conclusion {
    color: var.$white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 1%;
  }
}

.one-day-page__title-container_background {
  background-color: var.$pink;
  background-image: url('../../img/one-day-page/title-container/coss.png'),
    url('../../img/one-day-page/title-container/question.png'),
    url('../../img/one-day-page/title-container/arrow-3.png'),
    url('../../img/one-day-page/title-container/bird.png'),
    url('../../img/one-day-page/title-container/treepic.png'),
    url('../../img/one-day-page/title-container/car-w-muffin.png'),
    url('../../img/one-day-page/title-container/tree-white.png'),
    url('../../img/one-day-page/title-container/house.png'),
    url('../../img/one-day-page/title-container/road-white.png'),
    url('../../img/one-day-page/title-container/spiral-circle.png');
  background-size:
    auto 10%,
    auto 7.5%,
    auto 11%,
    auto 12.2%,
    auto 49%,
    auto 25.5%,
    auto 32%,
    auto 42%,
    auto 91%,
    auto 59%;
  background-position:
    top 90% left calc(50vw - 77.5vh),
    top 50.7% left calc(50vw - 12vh),
    top 47.5% left calc(50vw - 1vh),
    top 96% left calc(50vw + 24vh),
    top 70.4% left calc(50vw + 18.9vh),
    top 75% left calc(50vw - 68.5vh),
    top 61% left calc(50vw - 76vh),
    top 10% left calc(50vw - 67vh),
    top 18% center,
    top -2% left calc(50vw - 77.5vh);
  background-repeat: no-repeat;
}

.one-day-page__scary-muffin-container {
  height: 241vh;
}

.one-day-page__scary-muffin-container_background {
  background-color: var.$white;

}