@use '../var';
@use '../mixins';

.title-page {
  position: relative;
  width: 100%;
  height: 64.64svw;
  background-color: var.$blue;
  color: var.$white;
}

.dog-img-container {
  position: absolute;
  width: 50%;
  height: 85%;
  right: 0;
  top: 15%;
  &::before {
    content: '';
    position: absolute;
    background-image: url('../../img/title-page/Arrow.png');
    background-size: 100% auto;
    width: 57%;
    height: 29%;
    background-repeat: no-repeat;
    background-position: center;
    top: 23%;
    left: -51%;
  }
  .dog-img {
    position: absolute;
    height: 100%;
    right: 0;
  }
  .text_its-me {
    position: absolute;
    top: 40%;
    left: 1%;
  }
}

.title-content {
  margin-top: 9.5%;
  margin-bottom: 0;
  margin-left: -1.16%;
  height: 20.3%;
  display: inline-flex;
  align-items: center;
  color: var.$dark-blue;
}

.background_mini-dog {
  background-image: url('../../img/title-page/dog-mini.png');
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

.title-page_text-container {
  position: relative;
  margin-top: 1.07%;
  width: 25.2%;
  height: 25.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  @include mixins.main-button_style;
}

.title-page_background {
  background-image: url('../../img/title-page/texture_break.png'),
    url('../../img/title-page/Heart-2.png'),
    url('../../img/title-page/Heart-1.png'),
    url('../../img/title-page/Shape.png');
  background-size:
    19.5% 100%,
    23% auto,
    12.5% auto,
    57% auto;
  background-position:
    bottom 0 right 0,
    top 99% left 33%,
    top 4% right 17.5%,
    bottom 0 right 0;
  background-repeat: no-repeat;
}
