@use '../var';
@use '../mixins';

.title-page {
  position: relative;
  width: 100%;
  min-height: var.$min-height_viewport-high;
  height: 100svh;
  background-color: var.$blue;
  color: var.$white;
}

.dog-img-container {
  position: absolute;
  width: 79.2vh;
  height: 88vh;
  right: 0;
  bottom: 0;
}

.dog-img-container:before {
  content: "";
  position: absolute;
  background-image: url('../../img/title-page/Arrow.png');
  background-size: cover;
  width: 44vh;
  height: 24.3vh;
  background-repeat: no-repeat;
  background-position: center;
  top: 23.5%;
  left: -47%;
}

.dog-img {
  position: absolute;
  height: 100%;
  right: 0;
}

.text_its-me {
  position: absolute;
  top: 38%;
  left: 3%;
}

.title-content {
  margin-top: 14svh;
  margin-bottom: 0;
  margin-left: -1.16vw;
  height: 20.3svh;
  display: inline-flex;
  align-items: center;
  color: var.$dark-blue;

}

.background_mini-dog {
  background-image: url('../../img/title-page/dog-mini.png');
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

.title-page_text-container {
  position: relative;
  margin-top: 1.07svh;
  width: 23.75vw;
  height: 16.67vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  @include mixins.main-button_style;
}



.title-page_background {
  background-image: url('../../img/title-page/texture_break.png'),
    url('../../img/title-page/Heart-2.png'),
    url('../../img/title-page/Heart-1.png'),
    url('../../img/title-page/Shape.png');
  background-size: 19.5% 100% ,23% auto, 12.5% auto,auto 76.4%;
  background-position:
    bottom 0 right 0,
    top 99% left 33%,
    top 4% right 15.5%,
    bottom 0 right 0;
  background-repeat: no-repeat;
}
