@use '../var';
@use '../mixins';

@include mixins.h-text-style;

body {
  margin: auto;
  background-color: var.$white;
  color: var.$white;
}
header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
}
main {
}
section {
  height: 1117px;
  background-color: var.$blue;
}
