@use 'var';

.mini-card {
  display: flex;
  flex-direction: column;
  background-color: var.$white;
  border-radius: 4%;
  padding: 1%;
  width: 20.3vw;
  height: 20.8vw;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var.$white;
  border-radius: 4%;
  padding: 1%;
  width: 26.6vw;
  height: 35.3vw;
  box-shadow: 2vh 1.15vh 3vh 0 #cbabbd3d;
}

.card_right-clip::after {
  content: '';
  position: absolute;
  right: -4.8vh;
  top: -1.6vh;
  width: 16.6vh;
  height: 13.7vh;
  background-image: url('../img/cards/right-clip.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.card_left-clip::before {
  content: '';
  position: absolute;
  left: -4.8vh;
  top: -1.6vh;
  width: 16.6vh;
  height: 13.7vh;
  background-image: url('../img/cards/left-clip.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card__image {
  border-radius: 1.8vh;
  width: 100%;
  max-height: 100%;
}

.card__header {
  margin-top: 2.4vh;
}
