@use 'var';

.mini-card {
  display: flex;
  flex-direction: column;
  background-color: var.$white;
  border-radius: 4%;
  padding: 1%;
  width: 20.3svw;
  height: 20.8svw;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var.$white;
  border-radius: 4%;
  padding: 1svw;
  width: 26.6svw;
  height: 35.3svw;
  box-shadow: 2svh 1.15svh 3svh 0 #cbabbd3d;
}

.card_right-clip::after {
  content: '';
  position: absolute;
  right: -4.8svh;
  top: -1.6svh;
  width: 16.6svh;
  height: 13.7svh;
  background-image: url('../img/cards/right-clip.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.card_left-clip::before {
  content: '';
  position: absolute;
  left: -4.8svh;
  top: -1.6svh;
  width: 16.6svh;
  height: 13.7svh;
  background-image: url('../img/cards/left-clip.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card__image {
  border-radius: 1.8svh;
  width: 100%;
  max-height: 100%;
}

.card__header {
  margin-top: 2.4svh;
}
