@use 'var';
@use 'mixins';

* {
  box-sizing: border-box;
}
body {
  line-height: 1.2;
}
.display-none {
  display: none;
}

.none-select {
  user-select: none;
}
.text-margin-top {
  margin-top: 2%;
}
.text-margin-top_sm {
  margin-top: 1%;
}

.section_padding {
  padding-top: 9.26svw;
  padding-left: 5.79svw;
}
.padding-sm {
  padding-left: 7.5svw;
}
.padding-md {
  padding-left: 14.9svw;
}
.padding-lg {
  padding-left: 22.4svw;
}

.title {
  font-family: SFProDisplay, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18.63svw;
}

.subtitle {
  font-family: SFProDisplay, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3.94svw;
  letter-spacing: 0.03em;
}

.header {
  font-family: SFProDisplay, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.2svw;
  letter-spacing: 0.03em;
}

.text_giga-lg-italic {
  font-family: SFProDisplay, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 11.1svw;
}

.text_lg-italic {
  font-family: SFProDisplay, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.2svw;
  letter-spacing: 0.03em;
}

.text_md-bold {
  font-family: SFProDisplay, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.16svw;
}

.text_md {
  font-family: SFProDisplay, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.16svw;
  letter-spacing: 0.07em;
}
.text_sm {
  font-family: SFProDisplay, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.93svw;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  row-gap: 0.8svw;
}

.green {
  color: var.$green;
}
.blue {
  color: var.$blue;
}
.white {
  color: var.$white;
}
.primary-black {
  color: var.$primary-black;
}
.purple {
  color: var.$purple;
}
.pink {
  color: var.$pink;
}
.dark-blue {
  color: var.$dark-blue;
}
